<div class ='main-content'>
    <div id= 'recipe_top.row'>
        <div class= 'col-md-4'>
            <%= image_tag @recipe.image.url(:medium), {class: "recipe_image"} %>
        </div>
        <div id = 'recipe_info'>
            <div class= 'col-md-8'>
                <h2><%= @recipe.name %></h2>
                <h3><%= @recipe.description %></h3>
                <%= button_to"Delete Recipe", {action: "destroy" , id:@recipe.id}, method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <div id="ingredients">
                <h2>Ingredients</h2>
                <ul>
                    <% @recipe.ingredients.each do |ingredient| %>
                        <li><%= ingredient.name %></li>
                    <% end %>
                </ul>
            </div>
        </div>
        
        <div class ='col-md-6'>
            <div id='directions'>
                <h2>Directions</h2>
                <ul>
                    <% @recipe.directions.each do |direction| %>
                        <li><%= direction.steps %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class ='row'>
        <div class ='col-md-6'>
        <div id='ingredients'>
            <h2>Restaurants that Specialize</h2>
            <% @recipe.restaurants.each do |restaurant| %>
                <h3>Name: <%= restaurant.name %></h3>
                <p>City: <%= restaurant.city %></p>
                <p>State: <%= restaurant.state %></p>        
            <% end %>
        </div>
        </div>
    </div>
</div>
<h4>Comments</h4>
<% @recipe.comments.each do |comment| %>
    <p><%= comment.user.first_name %> says: <%= comment.content %></p>
    <% if current_user.id == comment.user_id  %>
    <form action= 'comments/<%=comment.id %>' method ='post'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete Comment'>
    <% end %>
<br />
    
<% end %>

<div class='panel-body'>
<form action= '/comments' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    Add a Comment:<input type='text' name='content' class='form-control'>
    <input type='hidden' name='recipe_id' value=<%=@recipe.id %>>
    <br />
    <input type='submit' value='Add Comment'>
</form>
</div>
